In [1]:
import tqdm
import pandas as pd
from glob import glob
from utils.trec_wrapper import parse_run, calculate_scaling_factor
from trectools import TrecQrel
import os

In [34]:
files = glob("../outputs/ablations.txt_*") 
qrel = "../assets/qrels-clinical_trials.txt"

metrics = {
    'recall': [100]
}

all_runs = {}

for met, depths in tqdm.tqdm_notebook(metrics.items()):
    for depth in depths:
        runs = {}    
        metric = None
        for fp in files: 
            parsed_run = parse_run(fp, qrel, metric=met, depth=depth)
            fn = os.path.split(fp)[-1]

            name = fn.replace('.txt', '')
            runs[name] = parsed_run.run
            metric = parsed_run.metric

        all_runs[metric] = runs

df = pd.concat({k: pd.DataFrame(v).T for k, v in all_runs.items()}, axis=0)
df_melt = pd.melt(df.T, ignore_index=False).reset_index().rename(columns={"index": "topic_num"})
df_melt

/tmp/ipykernel_175491/42849105.py:10: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for met, depths in tqdm.tqdm_notebook(metrics.items()):

  0%|          | 0/1 [00:00<?, ?it/s]

      topic_num  variable_0    variable_1  value
0         20141  recall@100  ablations_78    NaN
1         20142  recall@100  ablations_78    NaN
2         20143  recall@100  ablations_78    NaN
3         20144  recall@100  ablations_78    NaN
4         20145  recall@100  ablations_78    NaN
...         ...         ...           ...    ...
5954     201526  recall@100  ablations_66    NaN
5955     201527  recall@100  ablations_66    NaN
5956     201528  recall@100  ablations_66    NaN
5957     201529  recall@100  ablations_66    NaN
5958     201530  recall@100  ablations_66    NaN

[5959 rows x 4 columns]

In [28]:
mappings = ['HasExpandedAccess', 'BriefSummary.Textblock', 'CompletionDate.Type', 'OversightInfo.Text',     'OverallContactBackup.PhoneExt', 'RemovedCountries.Text', 'SecondaryOutcome', 'Sponsors.LeadSponsor.Text', 'BriefTitl    e', 'IDInfo.NctID', 'IDInfo.SecondaryID', 'OverallContactBackup.Phone', 'Eligibility.StudyPop.Textblock', 'DetailedDe    scription.Textblock', 'Eligibility.MinimumAge', 'Sponsors.Collaborator', 'Reference', 'Eligibility.Criteria.Textblock    ', 'XMLName.Space', 'Rank', 'OverallStatus', 'InterventionBrowse.Text', 'Eligibility.Text', 'Intervention', 'BiospecD    escr.Textblock', 'ResponsibleParty.NameTitle', 'NumberOfArms', 'ResponsibleParty.ResponsiblePartyType', 'IsSection801    ', 'Acronym', 'Eligibility.MaximumAge', 'DetailedDescription.Text', 'StudyDesign', 'OtherOutcome', 'VerificationDate'    , 'ConditionBrowse.MeshTerm', 'Enrollment.Text', 'IDInfo.Text', 'ConditionBrowse.Text', 'FirstreceivedDate', 'NumberO    fGroups', 'OversightInfo.HasDmc', 'PrimaryCompletionDate.Text', 'ResultsReference', 'Eligibility.StudyPop.Text', 'IsF    daRegulated', 'WhyStopped', 'ArmGroup', 'OverallContact.LastName', 'Phase', 'RemovedCountries.Country', 'Intervention    Browse.MeshTerm', 'Eligibility.HealthyVolunteers', 'Location', 'OfficialTitle', 'OverallContact.Email', 'RequiredHeader.Text', 'RequiredHeader.URL', 'LocationCountries.Country', 'OverallContact.PhoneExt', 'Condition', 'PrimaryOutcome'    , 'LocationCountries.Text', 'BiospecDescr.Text', 'IDInfo.OrgStudyID', 'Link', 'OverallContact.Phone', 'Source', 'Resp    onsibleParty.InvestigatorAffiliation', 'StudyType', 'FirstreceivedResultsDate', 'Enrollment.Type', 'Eligibility.Gende    r', 'OverallContactBackup.LastName', 'Keyword', 'BiospecRetention', 'CompletionDate.Text', 'OverallContact.Text', 'Re    quiredHeader.DownloadDate', 'Sponsors.Text', 'Text', 'Eligibility.SamplingMethod', 'LastchangedDate', 'ResponsiblePar    ty.InvestigatorFullName', 'StartDate', 'RequiredHeader.LinkText', 'OverallOfficial', 'Sponsors.LeadSponsor.AgencyClas    s', 'OverallContactBackup.Text', 'Eligibility.Criteria.Text', 'XMLName.Local', 'OversightInfo.Authority', 'PrimaryCom    pletionDate.Type', 'ResponsibleParty.Organization', 'IDInfo.NctAlias', 'ResponsibleParty.Text', 'TargetDuration', 'Sp    onsors.LeadSponsor.Agency', 'BriefSummary.Text', 'OverallContactBackup.Email', 'ResponsibleParty.InvestigatorTitle']

In [32]:
mappings = list(map(lambda k: k.replace(' ', ''), mappings))

In [35]:
for index, row in tqdm.tqdm_notebook(df_melt.iterrows(), total=len(df_melt)):
    s = ""
    name = row.variable_1
    
    df_melt.loc[index, 'variable_1'] = mappings[int(name.split('_')[-1])]
    
df_melt

/tmp/ipykernel_175491/472560622.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for index, row in tqdm.tqdm_notebook(df_melt.iterrows(), total=len(df_melt)):

  0%|          | 0/5959 [00:00<?, ?it/s]

      topic_num  variable_0                   variable_1  value
0         20141  recall@100  RequiredHeader.DownloadDate    NaN
1         20142  recall@100  RequiredHeader.DownloadDate    NaN
2         20143  recall@100  RequiredHeader.DownloadDate    NaN
3         20144  recall@100  RequiredHeader.DownloadDate    NaN
4         20145  recall@100  RequiredHeader.DownloadDate    NaN
...         ...         ...                          ...    ...
5954     201526  recall@100         OverallContact.Phone    NaN
5955     201527  recall@100         OverallContact.Phone    NaN
5956     201528  recall@100         OverallContact.Phone    NaN
5957     201529  recall@100         OverallContact.Phone    NaN
5958     201530  recall@100         OverallContact.Phone    NaN

[5959 rows x 4 columns]

In [47]:
df = df_melt.sort_values(by='value', ascending=False)
df[df['value'] > 0.0].groupby(['variable_1']).mean().sort_values(by='value', ascending=False)

31