In [22]:
import tqdm
import pandas as pd
from glob import glob
from utils.trec_wrapper import parse_run, calculate_scaling_factor
from trectools import TrecQrel
import os

In [23]:
files = glob("../outputs/ablations.txt_*") 
qrel = "../assets/qrels-clinical_trials.txt"

metrics = {
    'recall': [1000]
}

all_runs = {}

for met, depths in metrics.items():
    for depth in depths:
        runs = {}    
        metric = None
        for fp in files: 
            parsed_run = parse_run(fp, qrel, metric=met, depth=depth)
            fn = os.path.split(fp)[-1]

            name = fn.replace('.txt', '')
            runs[name] = parsed_run.run
            metric = parsed_run.metric

        all_runs[metric] = runs

df = pd.concat({k: pd.DataFrame(v).T for k, v in all_runs.items()}, axis=0)
df_melt = pd.melt(df.T, ignore_index=False).reset_index().rename(columns={"index": "topic_num"})
df_melt

      topic_num   variable_0    variable_1  value
0         20141  recall@1000   ablations_0    NaN
1         20142  recall@1000   ablations_0    NaN
2         20143  recall@1000   ablations_0    NaN
3         20144  recall@1000   ablations_0    NaN
4         20145  recall@1000   ablations_0    NaN
...         ...          ...           ...    ...
5954     201526  recall@1000  ablations_99    NaN
5955     201527  recall@1000  ablations_99    NaN
5956     201528  recall@1000  ablations_99    NaN
5957     201529  recall@1000  ablations_99    NaN
5958     201530  recall@1000  ablations_99    NaN

[5959 rows x 4 columns]

In [24]:
mappings = ['HasExpandedAccess', 'BriefSummary.Textblock', 'CompletionDate.Type', 'OversightInfo.Text',     'OverallContactBackup.PhoneExt', 'RemovedCountries.Text', 'SecondaryOutcome', 'Sponsors.LeadSponsor.Text', 'BriefTitl    e', 'IDInfo.NctID', 'IDInfo.SecondaryID', 'OverallContactBackup.Phone', 'Eligibility.StudyPop.Textblock', 'DetailedDe    scription.Textblock', 'Eligibility.MinimumAge', 'Sponsors.Collaborator', 'Reference', 'Eligibility.Criteria.Textblock    ', 'XMLName.Space', 'Rank', 'OverallStatus', 'InterventionBrowse.Text', 'Eligibility.Text', 'Intervention', 'BiospecD    escr.Textblock', 'ResponsibleParty.NameTitle', 'NumberOfArms', 'ResponsibleParty.ResponsiblePartyType', 'IsSection801    ', 'Acronym', 'Eligibility.MaximumAge', 'DetailedDescription.Text', 'StudyDesign', 'OtherOutcome', 'VerificationDate'    , 'ConditionBrowse.MeshTerm', 'Enrollment.Text', 'IDInfo.Text', 'ConditionBrowse.Text', 'FirstreceivedDate', 'NumberO    fGroups', 'OversightInfo.HasDmc', 'PrimaryCompletionDate.Text', 'ResultsReference', 'Eligibility.StudyPop.Text', 'IsF    daRegulated', 'WhyStopped', 'ArmGroup', 'OverallContact.LastName', 'Phase', 'RemovedCountries.Country', 'Intervention    Browse.MeshTerm', 'Eligibility.HealthyVolunteers', 'Location', 'OfficialTitle', 'OverallContact.Email', 'RequiredHeader.Text', 'RequiredHeader.URL', 'LocationCountries.Country', 'OverallContact.PhoneExt', 'Condition', 'PrimaryOutcome'    , 'LocationCountries.Text', 'BiospecDescr.Text', 'IDInfo.OrgStudyID', 'Link', 'OverallContact.Phone', 'Source', 'Resp    onsibleParty.InvestigatorAffiliation', 'StudyType', 'FirstreceivedResultsDate', 'Enrollment.Type', 'Eligibility.Gende    r', 'OverallContactBackup.LastName', 'Keyword', 'BiospecRetention', 'CompletionDate.Text', 'OverallContact.Text', 'Re    quiredHeader.DownloadDate', 'Sponsors.Text', 'Text', 'Eligibility.SamplingMethod', 'LastchangedDate', 'ResponsiblePar    ty.InvestigatorFullName', 'StartDate', 'RequiredHeader.LinkText', 'OverallOfficial', 'Sponsors.LeadSponsor.AgencyClas    s', 'OverallContactBackup.Text', 'Eligibility.Criteria.Text', 'XMLName.Local', 'OversightInfo.Authority', 'PrimaryCom    pletionDate.Type', 'ResponsibleParty.Organization', 'IDInfo.NctAlias', 'ResponsibleParty.Text', 'TargetDuration', 'Sp    onsors.LeadSponsor.Agency', 'BriefSummary.Text', 'OverallContactBackup.Email', 'ResponsibleParty.InvestigatorTitle']

In [25]:
mappings = list(map(lambda k: k.replace(' ', ''), mappings))

In [26]:
for index, row in df_melt.iterrows():
    s = ""
    name = row.variable_1
    
    df_melt.loc[index, 'variable_1'] = mappings[int(name.split('_')[-1])]
    
df_melt = df_melt.fillna(0)
df_melt

      topic_num   variable_0                  variable_1  value
0         20141  recall@1000           HasExpandedAccess    0.0
1         20142  recall@1000           HasExpandedAccess    0.0
2         20143  recall@1000           HasExpandedAccess    0.0
3         20144  recall@1000           HasExpandedAccess    0.0
4         20145  recall@1000           HasExpandedAccess    0.0
...         ...          ...                         ...    ...
5954     201526  recall@1000  OverallContactBackup.Email    0.0
5955     201527  recall@1000  OverallContactBackup.Email    0.0
5956     201528  recall@1000  OverallContactBackup.Email    0.0
5957     201529  recall@1000  OverallContactBackup.Email    0.0
5958     201530  recall@1000  OverallContactBackup.Email    0.0

[5959 rows x 4 columns]

In [27]:
df = df_melt.sort_values(by='value', ascending=False).fillna(0)
df_flat = df[df['value'] > 0.0].groupby(['variable_1']).mean().sort_values(by='value', ascending=False)
df_flat

                                              topic_num     value
variable_1
Eligibility.Gender                        201526.000000  0.250000
LocationCountries.Country                 128934.800000  0.238196
DetailedDescription.Textblock             150224.500000  0.228902
BriefSummary.Textblock                    139554.585366  0.213836
ConditionBrowse.MeshTerm                  153750.157895  0.201614
Eligibility.Criteria.Textblock            148984.157895  0.183380
InterventionBrowse.MeshTerm                97866.714286  0.182976
StudyType                                 201424.000000  0.166667
IsFdaRegulated                            201514.000000  0.166667
HasExpandedAccess                         201514.000000  0.166667
RequiredHeader.LinkText                   201520.000000  0.145833
BiospecRetention                          201476.000000  0.142544
OfficialTitle                             141025.629630  0.125367
Eligibility.SamplingMethod                201526.000000  0.125000
Eligibility.StudyPop.Textblock            134323.518519  0.107066
Condition                                 153110.066667  0.106716
Eligibility.MinimumAge                    171274.833333  0.098044
Keyword                                   154165.956522  0.091655
Eligibility.MaximumAge                    149654.714286  0.090635
BriefTitle                                125917.250000  0.090422
OversightInfo.HasDmc                       80604.000000  0.080438
OverallContact.LastName                   201472.000000  0.080201
ResponsibleParty.InvestigatorAffiliation  152001.727273  0.079493
BiospecDescr.Textblock                    156135.250000  0.077757
WhyStopped                                133455.500000  0.077128
ResponsibleParty.InvestigatorFullName     201443.500000  0.076682
NumberOfGroups                            201469.250000  0.073989
Phase                                     110799.833333  0.070856
OverallContactBackup.LastName             110787.166667  0.067549
OversightInfo.Authority                   201465.777778  0.065642
IDInfo.SecondaryID                        201421.500000  0.065455
NumberOfArms                              110781.000000  0.065126
TargetDuration                            201498.800000  0.062110
ResponsibleParty.InvestigatorTitle        165202.400000  0.057543
IDInfo.OrgStudyID                         175565.428571  0.051498
ResponsibleParty.Organization             119042.636364  0.050356
Acronym                                   110786.000000  0.045853
LastchangedDate                           141032.333333  0.044565
OverallContactBackup.Phone                156152.500000  0.043847
OverallContact.Phone                      165189.200000  0.042007
ResponsibleParty.NameTitle                141026.500000  0.040386
Source                                    123761.428571  0.038875
OverallStatus                             141036.666667  0.035926
FirstreceivedDate                         141033.333333  0.034603
FirstreceivedResultsDate                  110835.500000  0.033937
Enrollment.Text                            80570.000000  0.033654
StudyDesign                               156126.000000  0.033524
Sponsors.LeadSponsor.Agency               133481.125000  0.032648
RemovedCountries.Country                  110831.500000  0.031746

In [30]:
df_flat[df_flat['value'] > 0.09].index

Index(['Eligibility.Gender', 'LocationCountries.Country',
       'DetailedDescription.Textblock', 'BriefSummary.Textblock',
       'ConditionBrowse.MeshTerm', 'Eligibility.Criteria.Textblock',
       'InterventionBrowse.MeshTerm', 'StudyType', 'IsFdaRegulated',
       'HasExpandedAccess', 'RequiredHeader.LinkText', 'BiospecRetention',
       'OfficialTitle', 'Eligibility.SamplingMethod',
       'Eligibility.StudyPop.Textblock', 'Condition', 'Eligibility.MinimumAge',
       'Keyword', 'Eligibility.MaximumAge', 'BriefTitle'],
      dtype='object', name='variable_1')